/* ======================  Custom Classes Start  ======================*/
.col-xsm-6 {
  @media screen and (min-width: 425px) and (max-width: 575px) {
    width: 50%;
  }
}
.logo{
  max-width: clamp(6.25rem, 5.469rem + 3.906vw, 9.375rem);
}

.section-bg {
   background-color: hsl(var(--black)/ 0.02) !important;
}

.text-muted {
  color: hsl(var(--white) / 0.6) !important;
}

.bg-img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.bg-img-2 {
  background-repeat: no-repeat !important;
  background-position: top !important;
  background-size: cover !important;
}
.flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.bg--transparent {
  background-color: transparent !important;
}

.parallax--bg {
  background-attachment: fixed !important;
}

.fit--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.position--center {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor-pointer {
  cursor: pointer;
}

.gradient-text {
  background-image: linear-gradient(180deg, hsl(var(--base-d-200)) 0%, hsl(var(--base)) 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &::selection {
    color: hsl(var(--white));
    -webkit-text-fill-color: hsl(var(--white));
    background: transparent;
  }
}

.placeholder--white::placeholder {
  color: hsl(var(--white)/0.7);
}

.text--underline {
  text-decoration: underline !important;
}


/* Mask Image Css */
.mask-box {
  mask-mode: match-source;
  mask-size: contain;
  mask-position: center center;
  mask-repeat: no-repeat;
}

/* ======================  Custom Classes End  ======================*/
/* ============================= Positioning Css Class Start ===================== */
.pa-extend {
  position: absolute;
  content: '';
}

.top-center-extend {
  top: 50%;
  transform: translateY(-50%);
}

.left-center-extend {
  left: 50%;
  transform: translateX(-50%);
}

.top-left-center-extend {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ============================= Positioning Css Class End ===================== */