

<!-- ==================== Header Start Here ==================== -->
<header class="header__area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header__main">
          <a href="index.html" class="main__logo"><img src="assets/images/logo/logo.png" alt="logo"></a>
          <div class="header__menu">
            <ul>
              <li><a href="features.html" class="active">Features</a></li>
              <li><a href="testimonial.html">Testimonial</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="header__widgets">
            <div class="header__login">
              <a href="login.html">Log in</a>
            </div>
            <a href="user-dashboard.html" class="btn btn--base">Dashboard<i class="fa-solid fa-angle-right"></i></a>
          </div>
          <span class="menu__open"><i class="fa-solid fa-bars"></i></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->

<!--==========================  Offcanvas Section Start  ==========================-->
<div class="offcanvas__area">
  <div class="offcanvas__topbar">
    <a href="index.html" class="main__logo"><img src="assets/images/logo/logo.png" alt="logo"></a>
    <span class="menu__close"><i class="las la-times"></i></span>
  </div>
  <div class="offcanvas__main">
    <div class="offcanvas__widgets">
      <div class="offcanvas__language">
        <div class="dropdown">
          <div role="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="language__item">
              <img src="assets/images/english.png" alt="image">
              <p>English</p>
            </div>
          </div>
          <ul class="dropdown-menu">
            <li>
              <div class="language__item dropdown-item">
                <img src="assets/images/english.png" alt="image">
                <p>English</p>
              </div>
            </li>
            <li>
              <div class="language__item dropdown-item">
                <img src="assets/images/bangla.png" alt="image">
                <p>Bangla</p>
              </div>
            </li>
            <li>
              <div class="language__item dropdown-item">
                <img src="assets/images/hindi.png" alt="image">
                <p>Hindi</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="offcanvas__login">
        <!-- <a href="#" class="btn btn--base">Sign in</a> -->
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dashboard</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="offcanvas__menu">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="pricing.html">Pricing</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<!--==========================  Offcanvas Section End  ==========================-->
