<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<!-- Bootstrap Bundle Js -->
<script src="assets/js/boostrap.bundle.min.js"></script>
<!-- Magnific Popup Js -->
<script src="assets/js/magnific-popup.min.js"></script>
<!-- Scrollreveal Js -->
<script src="assets/js/scrollreveal.min.js"></script>
<!-- bx slider js -->
<script src="assets/js/jquery.bxslider.min.js"></script>
<!-- Odometer Js -->
<script src="assets/js/odometer.min.js"></script>
<!-- Select2 Js -->
<script src="assets/js/select2.min.js"></script>
<!-- Apexchart js -->
<script src="assets/js/apexcharts.js"></script>
<!-- Matter js -->
<script src="assets/js/matter.min.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>

</body>
</html>