<!--==========================   User-header Start  ==========================-->
<div class="dashboard__header">
  <div class="input-group search__box">
    <input type="text" class="form-control" placeholder="Search">
    <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  <div class="dashboard__header__widgets-wrap">
    <div class="dashboard__header__widgets">
      <div class="dropdown">
        <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="notification__btn">
            <i class="las la-bell"></i>
            <span class="notification__count">
              <span>21</span>
            </span>
          </span>
        </button>
        <div class="dropdown-menu">
          <div class="notification__wrap">
            <div class="notification__header">
              <h4>Notifications</h4>
              <span class="badge badge--base">12 Unread</span>
            </div>
            <div class="notification__body">
              <a href="#">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <span>26 minutes ago</span>
              </a>
              <a href="#">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <span>26 minutes ago</span>
              </a>
              <a href="#">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <span>26 minutes ago</span>
              </a>
              <a href="#">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <span>26 minutes ago</span>
              </a>
              <a href="#">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <span>26 minutes ago</span>
              </a>
            </div>
            <div class="notification__footer">
              <a href="#" class="btn btn--sm btn--base w-100">View all</a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropdown-toggle d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="profile__dropdown">
            <img src="assets/images/user.jpg" alt="image">
            <span>Max Sujak</span>
          </span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="user-profile-setting.html">Profile Setting</a></li>
          <li><a class="dropdown-item" href="user-change-password.html">Change Password</a></li>
          <li><a class="dropdown-item" href="two-factor.html">2FA Security</a></li>
          <li><a class="dropdown-item" href="index.html">Logout</a></li>
        </ul>
      </div>
    </div>
    <span class="sidebar__open"><i class="fa-solid fa-bars"></i></span>
  </div>
</div>
<!--==========================  User-header End  ==========================-->