<!--==========================   User-sidebar Start  ==========================-->
<div class="dashboard__sidebar">
  <div class="sidebar__close"><i class="las la-times"></i></div>
  <div class="dashboard__logo">
    <a href="index.html"><img src="assets/images/logo/logo.png" alt="logo"></a>
  </div>
  <div class="dashboard__menu">
    <ul>
      <li><a href="user-dashboard.html" class="active"><i class="fa-solid fa-table-columns"></i>Dashboard</a></li>
      <li class="upload__file__sb"><a href="user-upload-file.html"><i class="fa-solid fa-cloud-arrow-up"></i>
          Upload File</a></li>
      <li>
        <a href="#collapseExample" data-bs-toggle="collapse" role="button" aria-expanded="false"
          aria-controls="collapseExample"><i class="fas fa-robot"></i> Bot Management
          <span class="dropdown__arrow"><i class="fa-solid fa-chevron-right"></i></span></a>
        <div class="collapse" id="collapseExample">
          <div class="sidebar__dropdown">
            <ul>
              <li><a href="user-my-bot.html" class="active">My Bots</a></li>
              <li><a href="user-create-bot.html">Create Boat</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li><a href="user-reports.html"><i class="fa-solid fa-chart-simple"></i>Reports & Insights</a></li> 
      <li><a href="user-withdraw.html"><i class="fa-solid fa-coins"></i> Withdraw</a></li>
      <li><a href="user-deposit.html"><i class="fa-solid fa-money-bill-transfer"></i> Deposit</a></li>
      <li><a href="user-transactions.html"><i class="fa-solid fa-list-ul"></i> Transactions</a></li>
      <li><a href="user-support-tickets.html"><i class="fa-solid fa-headset"></i> Support Ticket</a></li>
    </ul>
  </div>
</div>
<!--==========================  User-sidebar End  ==========================-->