<!--==========================   User-sidebar Start  ==========================-->
<div class="dashboard__sidebar">
  <div class="sidebar__close"><i class="las la-times"></i></div>
  <div class="dashboard__logo">
    <a href="index.html" class="logo"><img src="assets/images/logo/white-logo.png" alt="logo"></a>
  </div>
  <div class="dashboard__menu">
    <ul>
      <li><a href="user-dashboard.html" class="active"><i class="fa-solid fa-table-columns"></i>Dashboard</a></li>
      <li class="upload__file__sb"><a href="user-upload-file.html"><i class="fa-solid fa-cloud-arrow-up"></i>Upload File</a></li>
      <li><a href="user-withdraw.html"><i class="fa-solid fa-coins"></i> Withdraw</a></li>
      <li><a href="user-deposit.html"><i class="fa-solid fa-money-bill-transfer"></i> Deposit</a></li>
      <li><a href="user-transactions.html"><i class="fa-solid fa-list-ul"></i> Transactions</a></li>
      <li><a href="user-support-tickets.html"><i class="fa-solid fa-headset"></i> Support Ticket</a></li>
    </ul>
  </div>
</div>
<!--==========================  User-sidebar End  ==========================-->