/* ============= Footer Start Here ======================= */
.footer {
  position: relative;
  background-color: hsl(var(--black));
  color: hsl(var(--white));
  margin-top: auto;
  z-index: 2;
  overflow: hidden;

  &__bg_top {
    position: absolute;
    top: -2px;
    transform: rotate(-180deg);
  }

  &__item_left {
    @include lg-screen {
      border-right: 0;
    }
  }

  .col-6 {
    @include sm-screen {
      justify-items: center;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(1.875rem, 1.563rem + 1.563vw, 3.125rem) clamp(0.625rem, 0rem + 3.125vw, 3.125rem);
  }


  &__first-item {
    max-width: rem(450px);

    @include lg-screen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-inline: auto;
    }
  }

  &__item {

    flex: 1 1 150px;

    &:nth-child(3) {
      flex: 1 1 250px;
    }

    &:last-child {
      flex: 1 1 300px;
    }

    .social-list {
      margin-top: 30px;

      &__link {
        background-color: hsl(var(--white) / 0.12);
      }

      @include md-screen {
        margin-top: 20px;
      }

      @include msm-screen {
        margin-top: 15px;
      }
    }
  }



  &__logo {
    margin-bottom: 20px;

    a {
      img {
        width: 100%;
        height: 100%;
        max-width: 190px;
        max-height: 64px;
      }
    }
  }

  &__title {
    position: relative;
    color: hsl(var(--white));
    margin: 0;
    width: fit-content;
    margin-bottom: clamp(1.25rem, 1.094rem + 0.781vw, 1.875rem);
    position: relative;
    font-family: var(--body-font);
    font-weight: 700;
  }

  &__desc {
    color: hsl(var(--white) / 0.8);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: clamp(0.75rem, 0.547rem + 1.016vw, 1.563rem);
  }

  &__menu-item {
    display: flex;
    gap: 4px;
    position: relative;

    &::before {
      content: "\f101";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      display: inline-block;
      margin-right: 8px;
      color: hsl(var(--white));
    }

    &:last-child {
      padding-bottom: 0;
    }
    &:hover {
      color: hsl(var(--base-l-300));
    }
  }

  &__menu-link {
    color: hsl(var(--white) / 0.89);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: rem(12px);
    font-size: clamp(0.75rem, 0.719rem + 0.156vw, 0.875rem);
    i {
      color: hsl(var(--base));
      font-size: rem(6px);
    }
  }

  &__newsletter {

    .footer__desc {
      margin-bottom: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);
    }
  }

  &__form {
    position: relative;

    .form-control {
      border: 1px solid hsl(var(--white)/ 0.15);
      color: hsl(var(--base));

      ~button {
        width: 45px;
        height: 45px;
        padding: 0;
        background-color: hsl(var(--base));
        margin: 5px;
        border-radius: 6px  !important;
        z-index: 1;
        i {
          color: hsl(var(--white));
          transition: 0.3s;
        }
      }

      &:focus {
        ~button {
          i {
            transform: rotate(45deg);
          }
        }
      }

      color: hsl(var(--white));

      &::placeholder {
        color: hsl(var(--white) / 0.41);
      }

      &:focus {
        border-color: transparent;
        box-shadow: none;
      }

      &[type="password"] {
        color: hsl(var(--white) / 0.41);

        &:focus {
          color: hsl(var(--white) / 0.41);
        }
      }

      &[type="file"] {
        &::file-selector-button {
          color: hsl(var(--white) / 0.41) !important;

          &:hover {
            color: hsl(var(--white) / 0.41);
          }
        }
      }
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      -webkit-text-fill-color: hsl(var(--white)) !important;
      caret-color: hsl(var(--white));
    }
  }

  &__bottom {
    padding: clamp(0.625rem, 0.406rem + 1.094vw, 1.5rem);
    border-top: 1px solid hsl(var(--white)/ 0.2);
  }
}

/* =============Bottom Footer End Here ======================= */