/* ======================  Offcanvas Section Start  ======================*/
.offcanvas__area {
  position: fixed;
  left: -100%;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: hsl(var(--white));
  border-right: 1px solid hsl(var(--white) / 0.05);
  z-index: 15;
  transition: .4s;
  visibility: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px hsl(var(--white)/0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(var(--base)/0.7);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--base));
  }

  &.active {
    left: 0;
    visibility: visible;
  }

  .offcanvas__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    .menu__close {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: hsl(var(--white));
      background-color: hsl(var(--danger));
      font-size: 20px;
      border-radius: 4px;
      transition: .3s;

      &:hover {
        background-color: hsl(var(--danger-d-200));
        color: hsl(var(--white));
      }
    }
  }

  .offcanvas__main {
    .offcanvas__widgets {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
    }

    .offcanvas__menu ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        background-color: hsl(var(--white)/ 0.04);
        padding: 10px 16px;
        border-radius: var(--b-radius-6);
     

        a {
          display: block;
          width: 100%;
          font-size: 16px;
          color: hsl(var(--heading-color));
          transition: .3s;

          &:hover,
          &.active {
            color: hsl(var(--base-l-300));
          }
        }
      }
    }
  }
}

/* ======================  Offcanvas Section End  ======================*/


/* ======================  Header Section Start  ======================*/
  .main__logo {
    max-width: 150px;
  }

.header__area {
  padding-block: clamp(0.938rem, 0.734rem + 1.016vw, 1.75rem);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 8;

  &.fixed-header {
    position: fixed;
    top: 0px;
    background-color: hsl(var(--white));
    box-shadow: var(--box-shadow);
    transition: 0.25s linear;
    animation: slide-down 0.6s;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 20px hsl(var(--black)/ 0.1);
  }

  .header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .menu__open {
      font-size: 24px;
      color: hsl(var(--heading-color));
      cursor: pointer;
      transition: .3s;
      display: none;

      @include md-screen {
        display: block;
      }

      &:hover {
        color: hsl(var(--base));
      }
    }
  }




  .header__menu {
    @include md-screen {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;

      @include lg-screen {
        gap: 20px;
      }

      li {
        a {
          color: hsl(var(--heading-color));
          font-size: 16px;
          font-weight: 400;
          transition: .3s;

          &:hover,
          &.active {
            color: hsl(var(--base-d-100));
          }
        }
      }
    }
  }

  .header__widgets {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;

    @include lg-screen {
      gap: 10px;
    }

    @include md-screen {
      display: none;
    }
  }
}

.language__item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;

  img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;

    @include md-screen {
      font-size: 15px;
    }
  }



  &:hover {
    p {
      color: hsl(var(--base-d-300));
    }
  }
}



@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ======================  Header Section End  ======================*/