/* ================================= Card Css Start =========================== */
.card {
    padding: 24px;
    border-radius: 8px;
    background-color: hsl(var(--white)/ 0.04);
    border: 1px solid hsl(var(--white)/ 0.06);
    color: hsl(var(--body-color));
    height: 100%;

    @include lg-screen {
        padding: 16px;
    }
    &.border{
        border: 1px solid hsl(var(--white)/ 0.04) !important;
        
    }

    &-header {
        padding: 12px 0;
        background-color: transparent;
        border-bottom: 1px solid hsl(var(--black)/.06);
    }

    &-title {
        margin-bottom: 0;
    }

    &-body {
        background-color: hsl(var(--white));
        padding: 24px 0;
        border-radius: 5px;
    }

    &-footer {
        padding: 12px 0;
        background-color: transparent;
        border-top: 1px solid hsl(var(--black)/.06);
    }
}

/* ================================= Card Css End =========================== */