/* ======================  Login Section Start  ======================*/
.account {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  z-index: 2;

  &::before {
    background-image: radial-gradient(125% 125% at 50% 90%, hsl(var(--white)) 35%, hsl(var(--base)/ 0.5) 100%);
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__subtitle {
    letter-spacing: 5px;
    margin-bottom: clamp(0.5rem, 0.375rem + 0.625vw, 1rem);
  }

  &__title {
    margin-bottom: clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);
  }

  &__form-wrap {
    max-width: 550px;
    margin-inline: auto;
    text-align: center;

    .logo {
      margin-bottom: clamp(1.25rem, 0.781rem + 2.344vw, 3.125rem);
    }
  }

  &__form {
    position: relative;
    padding-block: clamp(1.875rem, 1.406rem + 2.344vw, 3.75rem);
    padding-inline: clamp(0.938rem, 0.703rem + 1.172vw, 1.875rem);
    border-radius: var(--b-radius-12);
    background: hsl(var(--white));
    border: 1px solid hsl(var(--white)/ 0.08);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    z-index: 3;
  }

  &__or {
    margin-top: 8px;
  }

  .social-list {
    justify-content: center;

    &__link {
      background-color: transparent;
      color: hsl(var(--body-color));
      transition: 0.3s;

      i {
        font-size: 20px;
      }

      &:hover {
        i {
          color: hsl(var(--base-l-300));
        }
      }
    }
  }
}

/* ======================  Login Section End  ======================*/