/* ======================  Brand Start  ======================*/
.brand-logo {
    position: relative;
    z-index: 2;
    padding-block: 30px;

    &__header {
        margin-inline: auto;
        text-align: center;
        max-width: 600px;
        margin-bottom: clamp(1.25rem, 1.094rem + 0.781vw, 1.875rem);
    }


    &__item {
        width: clamp(10.625rem, 9.375rem + 6.25vw, 15.625rem) !important;
        padding-inline: clamp(0.938rem, 0.703rem + 1.172vw, 1.875rem);
        padding-block: 0;
        transition: .3s;
        position: relative;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

/* ======================  Brand End  ======================*/