@import "banner";
@import "ss-demo";
@import "choose-us";


@import "brand";
@import "work-process";
@import "features";
@import "pricing";
@import "faq";
@import "testimonial";
@import "cta";

@import "blog";
@import "contact";
@import "account";
@import "cookie-policy";
@import "error";
@import "user-dashboard";
@import "user-profile-setting";
@import "user-create-form";
@import "about";