/* ======================  Profile Setting Section Start  ======================*/
.profile-setting {
  padding: rem(20px);
  border-radius: rem(10px);

  &__file-desc {
    margin-bottom: 20px;
    max-width: rem(413px);
  }

  &__info-list {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: rem(4px);

    &:not(:last-child) {
      border-bottom: 1px dashed hsl(var(--white)/ 0.2);
      padding-bottom: 16px;
      margin-bottom: 16px;

    }

    span {
      font-size: rem(16px);
      font-weight: 500;
    }
  }

  &__info-title {
    font-size: rem(16px);
  }


}

/* ======================  Profile Setting Section End  ======================*/

.custom-dropzone {
  position: relative;

  &.dropzone-sm {
    max-width: 116px;

    .dropzone-filed {
      &::after {
        font-size: rem(20px);
      }
    }
  }

  &.wide {
    .dropzone-filed {
      aspect-ratio: 16 / 9;
    }
  }

  .dropzone-filed {
    display: block;
    width: 100%;
    background: hsl(var(--base) / .02);
    border: 2px solid hsl(var(--black)/ 0.3);
    border-radius: 50%;
    padding: 20px;
    aspect-ratio: 1 / 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: .3s;

    @include sm-screen {
      padding: 15px;
    }

    &.dragging {
      border-color: hsl(var(--base));
      z-index: 2;

      &::after {
        opacity: 1;
      }

      .dropzone__icon,
      .dropzone__txt,
      .dropzone__preview * {
        opacity: 0.3;
      }
    }

    &::after {
      content: attr(data-drag-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsl(var(--base-d-300) / .4);
      color: hsl(var(--white));
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: rem(35px);
      line-height: 1;
      font-weight: 500;
      opacity: 0;
      transition: .3s;

      @include sm-screen {
        font-size: rem(20px);
      }
    }

    &__preview {
      position: absolute;
      inset: 0;
      border-radius: 50%;
      transition: .3s;
      opacity: 0;
      overflow: hidden;

      &.active {
        background-color: hsl(var(--white));
        opacity: 1;
      }

      img,
      video {
        width: 100%;
        height: 100%;
        transition: .3s;

      }
    }



    &:hover,
    &:focus {
      border-color: hsl(var(--base));
    }
  }

  &__icon {

    position: absolute;
    bottom: 5px;
    right: -5px;


    i {
      width: rem(40px);
      height: rem(40px);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: hsl(var(--base-two));
      background-color: hsl(var(--base));
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    z-index: -1;
  }
}
