/* ======================  Work-process Start  ======================*/
.work-process {
    position: relative;
    --count-size: clamp(2.5rem, 2.344rem + 0.781vw, 3.125rem);

    &__card {
        text-align: center;
        position: relative;
        height: 100%;
        margin-inline: auto;
        max-width: 420px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &:hover {
            .work-process__count {
                transition: 0.3s;
                box-shadow:  var(--box-shadow);
            }
        }
    }

    &__count {
        width: var(--count-size);
        height: var(--count-size);
        background-color: hsl(var(--white)/ 0.08);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: clamp(0.938rem, 0.859rem + 0.391vw, 1.25rem);
        border: 1px solid hsl(var(--white)/0.09);
        transition: 0.3s;
    }

    &__title {
        margin-bottom: clamp(0.5rem, 0.391rem + 0.547vw, 0.938rem);
    }
}

/* ======================  Work-process End  ======================*/